/* :root {
	--color-background: #201f1f;
	--color-card: #373636;
	--color-text: #ffffff;
} */

#dark-mode {
	--color-background: #201f1f;
	--color-card: #373636;
	--color-text: #ffffff;
}

#light-mode {
	--color-background: #b4b0b0;
	--color-card: #8b8888;
	--color-text: #201f1f;
}

/* /// FONTS /// */
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* /// BASIC RESET /// */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	/* padding: 0 30px 0; */
}

.App {
	background-color: var(--color-background);
	color: var(--color-text);
	padding: 0 30px 0;
}

h1 h2 h3 {
	font-family: "Nova Square", sans-serif;
}

/* /// HEADER /// */

.header {
	display: flex;
	justify-content: space-between;
	background-color: blueviolet;
}

/* /// CONTAINERS /// */

.homepage-container {
	display: flex;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.main {
	display: flex;
}

/* /// CARD /// */

.card {
	width: 350px;
	height: 400px;
	border-radius: 10px;
	background-color: var(--color-card);
	color: var(--color-text);
	margin: 20px 20px 0 0;
	cursor: pointer;
}

.card__image {
	width: 350px;
	height: 250px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.card__heading {
	padding: 0 15px;
}

.card__platforms {
	display: flex;
	width: 15px;
}

.card__platforms img {
	width: 12.5px;
	margin-left: 15px;
}

/* /// GENRE LIST /// */

.genreList {
	background-color: rgb(55, 54, 54);
	min-width: 250px;
	cursor: pointer;
	box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
}

.genreList h2 {
	margin-left: 10px;
}

.genreList p {
	padding-left: 10px;
	padding-bottom: 10px;
}

.genreList p:hover {
	background-color: hotpink;
	border-right: solid 10px blue;
}

/* .genreList a {
	text-decoration: none;
	color: white;
}

.genreList a:hover {
	border-bottom: solid 10px hotpink;
	/* background-color: hotpink; */
/* padding-left: 10px;
} */
