/*
Place colours here:
*/

/* /// FONTS /// */
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* /// BASIC RESET /// */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: white;
	background-color: rgb(32, 31, 31);
	padding: 0 30px 0;
}

h1 h2 h3 {
	font-family: "Nova Square", sans-serif;
}

/* /// HEADER /// */

.header {
	display: flex;
	justify-content: space-between;
	background-color: blueviolet;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* /// CARD /// */

.card {
	width: 350px;
	height: 400px;
	border-radius: 10px;
	background-color: rgb(55, 54, 54);
	margin: 20px 20px 0 0;
	cursor: pointer;
}

.card__image {
	width: 350px;
	height: 250px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.card__heading {
	padding: 0 15px;
}

.card__platforms {
	display: flex;
	width: 15px;
}

.card__platforms img {
	width: 12.5px;
	margin-left: 15px;
}
