:root {
	--color-highlight-primary: #ff5b14;
}

#dark-mode {
	--color-background: #090a1a;
	--color-card: #1f213ccc;
	--color-card-light: #2b2d4ecc;
	--color-text: #ffffff;
}

#light-mode {
	--color-background: #ffffff;
	--color-card: #f1f1f1;
	--color-card-light: #e9e6e6;
	--color-text: #201f1f;
}

/* /// FONTS /// */
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* /// BASIC RESET /// */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	/* padding: 0 30px 0; */
}

.App {
	background-color: var(--color-background);
	color: var(--color-text);
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 150px;
}

h1 h2 h3 {
	font-family: "Nova Square", sans-serif;
}

/* /// HEADER /// */

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
	margin-right: 40px;
	position: fixed;
	top: 0;
	text-align: center;
	width: 95%;
	z-index: 1;
	background-color: var(--color-background);
}

.header__logo {
	margin-top: 30px;
	border-radius: 20px;
	background-color: var(--color-highlight-primary);
	margin-bottom: 30px;
}

.header__logo h1 {
	font-size: 40px;
	padding-left: 35px;
	padding-right: 35px;
	color: var(--color-text);
}

.header__logo a {
	text-decoration: none;
}

.header__other {
	display: flex;
	width: 40%;
	justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 20px;
}

.header__switch {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	width: 20%;
}

.formContainer {
	display: flex;
	/* align-items: center; */
	justify-content: center;
	margin-left: 15%;
	margin-right: 25%;
}

.loginForm {
	background-color: var(--color-card);
	width: 700px;
	border-radius: 25px;
	padding-top: 75px;
	padding-bottom: 75px;
	padding-right: 150px;
	padding-left: 150px;
}

.loginForm label {
	font-size: 20px;
	line-height: 50px;
}

.loginForm input {
	width: 400px;
	height: 60px;
	border-radius: 25px;
	padding-left: 20px;
	font-size: 18px;
	font-family: inherit;
	border: none;
}

.loginForm input:focus {
	border: solid 1px var(--color-highlight-primary);
}

.loginForm:placeholder-shown {
	color: var(--color-highlight-primary);
}

.form {
}

.form input {
	width: 400px;
	height: 60px;
	border-radius: 25px;
	padding-left: 20px;
	font-size: 18px;
	font-family: inherit;
	background-color: var(--color-card);
	color: var(--color-highlight-primary);
	border: none;
}

.form input:focus {
	border: solid 1px var(--color-highlight-primary);
}

.form:placeholder-shown {
	color: var(--color-highlight-primary);
}

.btn__login {
	width: 100px;
	height: 60px;
	border: none;
	border-radius: 25px;
	background-color: var(--color-card-light);
	color: var(--color-highlight-primary);
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
	margin-top: 20px;
}

.btn__login:hover {
	background-color: var(--color-highlight-primary);
	color: var(--color-text);
}

.btn__login--secondary {
	width: 100px;
	height: 60px;
	border: solid 1px var(--color-highlight-primary);
	border-radius: 25px;
	color: var(--color-highlight-primary);
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
	margin-top: 20px;
}

.btn__login--secondary:hover {
	background-color: var(--color-highlight-primary);
	color: var(--color-text);
}

/* make the button universal  */

/* btn btn__form btn--search */

.btn {
}

.btn__form--search:hover {
	background-color: var(--color-highlight-primary);
	color: var(--color-text);
}

.btn__form--search {
	width: 100px;
	height: 60px;
	border: none;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-left: -100px;
	background-color: var(--color-card-light);
	color: var(--color-highlight-primary);
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
}

.btn__card {
	margin: 10px;
	padding: 5px;
	width: 110px;
	height: 50px;
	border: none;
	border-radius: 15px;
	background-color: var(--color-background);
	color: var(--color-text);
	font-size: 14px;
	font-weight: 400;
	cursor: pointer;
	position: absolute;
	left: 0;
	bottom: 0;
}

.btn__card:hover {
	background-color: var(--color-highlight-primary);
	color: var(--color-text);
}

/* /// CONTAINERS /// */

.homepage-container {
	display: flex;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.grid__duplicate {
	background-color: blue;
	width: 900px;
	display: flex;
	flex-direction: row;
}
.main {
	display: flex;
}

/* /// CARD /// */

.card {
	width: 350px;
	height: 450px;
	border-radius: 10px;
	background-color: var(--color-card);
	color: var(--color-text);
	margin: 20px 20px 0 0;
	cursor: pointer;
	position: relative;
	/* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
}

.card__image {
	width: 350px;
	height: 250px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.card__heading {
	padding: 0 15px;
	font-weight: 200;
}

.card__platforms {
	display: flex;
	width: 15px;
}

.card__platforms img {
	width: 12.5px;
	margin-left: 15px;
}

/* /// GENRE LIST /// */

.genreList {
	background-color: var(--color-card);
	min-width: 250px;
	height: fit-content;
	padding-bottom: 20px;
	cursor: pointer;
	padding-top: 10px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	/* padding-right: 20px; */
	/* box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1); */
}

.genreList h3 {
	margin-left: 15px;
	margin-top: 10px;
	font-weight: 100;
	font-size: 26px;
}

.userSummary {
	background-color: var(--color-card-light);
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-bottom: -2px;
}

.userSummary p {
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-left: 10px;
}

.userSummary a {
	text-decoration: none;
	color: var(--color-text);
}

.userSummary a:hover {
	color: var(--color-highlight-primary);
	margin-left: 5px;
}

.userSummary h2 {
	margin-left: 15px;
	margin-top: 10px;
	font-weight: 100;
	font-size: 26px;
}

.userSummary h2:hover {
	background-color: var(--color-background);
	border-radius: 10px;
	margin-right: 2px;
	margin-left: 2px;
	padding-left: 5px;
	color: var(--color-highlight-primary);
}

.signOut {
	cursor: pointer;
}

.signOut:hover {
	color: var(--color-highlight-primary);
	margin-left: 5px;
}

.genreList p {
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-left: 10px;
}

.genreList p:hover {
	background-color: var(--color-background);
	border-radius: 10px;
	margin-right: 2px;
	margin-left: 2px;
	color: var(--color-highlight-primary);
}

.genreList a {
	text-decoration: none;
	color: var(--color-text);
}

.genreList a:hover {
	background-color: var(--color-background);
	/* border-radius: 10px;
	margin-right: 2px;
	margin-left: 2px; */
	color: var(--color-highlight-primary);
}

/* /// DETAILS /// */

.details {
	width: 1100px;
	background-color: var(--color-card);
	margin-left: 40px;
	border-radius: 25px;
	background-size: cover;
	background-position: top;
	padding: 30px;
	display: flex;
	justify-content: space-between;
}

.details img {
	width: 500px;
	/* border-top-right-radius: 25px;
	border-top-left-radius: 25px; */
}

.details__platforms {
	display: flex;
	justify-content: flex-end;
}

.details__platforms img {
	width: 30px;
	margin-left: 20px;
	margin-top: 10px;
}

.details__right {
	/* display: flex;
	align-items: center;
	justify-content: flex-end; */
	text-align: right;
}

.details__left {
	margin-right: 20px;
}

.details__heading {
	display: flex;
	justify-content: space-between;
}

.details__heading__icon {
	cursor: pointer;
}

.genre__tag {
	display: flex;
	justify-content: flex-end;
}

.genre__tag p {
	background-color: var(--color-highlight-primary);
	margin-top: 5px;
	width: fit-content;
	padding: 6px;
	border-radius: 10px;
}

.meta {
	position: absolute;
	z-index: 1;
	margin-top: -30px;
	background-color: var(--color-highlight-primary);
	/* height: 110px; */
	width: fit-content;
	border-radius: 10px;
	margin-left: 10px;
	padding: 6px;
	/* line-height: 110px; */
	text-align: center;
}

.rating {
	position: absolute;
	z-index: 1;
	margin-top: -30px;
	background-color: var(--color-highlight-primary);
	/* height: 110px; */
	width: fit-content;
	border-radius: 10px;
	margin-left: 175px;
	padding: 6px;
	/* line-height: 110px; */
	text-align: center;
}

.loader {
	width: 60%;
}
